In [70]:
import pandas as pd

In [71]:
movies_metadata = 'movies_metadata.csv'
movies_streaming = 'MoviesOnStreamingPlatforms_updated.csv'
movie_ratings = 'ratings.csv'

In [72]:
movies_metadata_df = pd.read_csv(movies_metadata)
movies_metadata_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [73]:
movies_metadata_df = movies_metadata_df.drop(columns = ['adult', 'belongs_to_collection', 'budget', 'homepage', 'original_language', 'original_title', 'overview', 'popularity', 'production_companies', 'production_countries', 'revenue', 'runtime','spoken_languages', 'status', 'tagline', 'video', 'vote_average', 'vote_count'])
movies_metadata_df.head()

,genres,id,imdb_id,poster_path,release_date,title
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,1995-10-30,Toy Story
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,1995-12-15,Jumanji
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,1995-12-22,Grumpier Old Men
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,1995-12-22,Waiting to Exhale
4,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,/e64sOI48hQXyru7naBFyssKFxVd.jpg,1995-02-10,Father of the Bride Part II

In [78]:
movies_metadata_df = movies_metadata_df.rename(columns={"title":"Title"})
movies_metadata_df.head()

,genres,id,imdb_id,poster_path,release_date,Title
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,1995-10-30,Toy Story
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,1995-12-15,Jumanji
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,1995-12-22,Grumpier Old Men
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,1995-12-22,Waiting to Exhale
4,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,/e64sOI48hQXyru7naBFyssKFxVd.jpg,1995-02-10,Father of the Bride Part II

In [83]:
movies_metadata_df.count()

genres          45466
id              45466
imdb_id         45449
poster_path     45080
release_date    45379
Title           45460
dtype: int64

In [74]:
movies_streaming_df = pd.read_csv(movies_streaming)
movies_streaming_df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [81]:
movies_streaming_df.count()

ID                 16744
Title              16744
Year               16744
Age                 7354
IMDb               16173
Rotten Tomatoes     5158
Netflix            16744
Hulu               16744
Prime Video        16744
Disney+            16744
Genres             16469
dtype: int64

In [76]:
movies_streaming_df = movies_streaming_df.drop(columns = ['Unnamed: 0', 'Type', 'Directors', 'Country', 'Language', 'Runtime'])

movies_streaming_df.head()

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Genres
0,1,Inception,2010,13+,8.8,87%,1,0,0,0,"Action,Adventure,Sci-Fi,Thriller"
1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,"Action,Sci-Fi"
2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,"Action,Adventure,Sci-Fi"
3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,"Adventure,Comedy,Sci-Fi"
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,Western

In [88]:

movies_merged_df = pd.merge(movies_metadata_df, movies_streaming_df, on="Title", how="right")
movies_merged_df.head()

,genres,id,imdb_id,poster_path,release_date,Title,ID,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Genres
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,1995-10-30,Toy Story,16216,1995,all,8.3,100%,0,0,0,1,"Animation,Adventure,Comedy,Family,Fantasy"
1,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,1995-12-22,Waiting to Exhale,3837,1995,18+,5.9,56%,0,1,0,0,"Comedy,Drama,Romance"
2,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",11860,tt0114319,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,1995-12-15,Sabrina,2057,2018,NaN,4.2,NaN,1,0,0,0,"Comedy,Family,Fantasy"
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",6620,tt0047437,/7ITDmatHa2yf5UTzjwaKAvf3Xr6.jpg,1954-09-28,Sabrina,2057,2018,NaN,4.2,NaN,1,0,0,0,"Comedy,Family,Fantasy"
4,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",45325,tt0112302,/sGO5Qa55p7wTu7FJcX4H4xIVKvS.jpg,1995-12-22,Tom and Huck,16533,1995,7+,5.5,25%,0,0,0,1,"Adventure,Comedy,Drama,Family,Romance,Western"

In [89]:
movies_merged_df.count()

genres              8013
id                  8013
imdb_id             8010
poster_path         7992
release_date        8008
Title              17898
ID                 17898
Year               17898
Age                 8051
IMDb               17317
Rotten Tomatoes     5794
Netflix            17898
Hulu               17898
Prime Video        17898
Disney+            17898
Genres             17622
dtype: int64