In [77]:
#Cleaning Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
from scipy.stats import linregress
import datetime

#Dependencies added to create the connection between Python and the Postgres Database 
from sqlalchemy import create_engine
from sqlalchemy.orm import scoped_session, sessionmaker
import psycopg2

In [78]:
#Reading in Movies CSV files
movies_meta_path = "ImportData/movies_metadata.csv"
movies_meta_df = pd.read_csv(movies_meta_path)

movies_updated_path= "ImportData/MoviesOnStreamingPlatforms_updated.csv"
movies_streaming_df = pd.read_csv(movies_updated_path)

In [79]:
#Convert the release_date to datetime so we can use the datetime import
movies_meta_df['release_date'] = pd.to_datetime(movies_meta_df['release_date'], errors='coerce' )

In [80]:
movies_meta_df.dtypes

adult                            object
belongs_to_collection            object
budget                           object
genres                           object
homepage                         object
id                               object
imdb_id                          object
original_language                object
original_title                   object
overview                         object
popularity                       object
poster_path                      object
production_companies             object
production_countries             object
release_date             datetime64[ns]
revenue                         float64
runtime                         float64
spoken_languages                 object
status                           object
tagline                          object
title                            object
video                            object
vote_average                    float64
vote_count                      float64
dtype: object

In [81]:
#Extracting the year from the release_date
movies_meta_df['Year'] = movies_meta_df['release_date'].dt.strftime('%Y')

#Droping unecessary columns from movies_meta_df
movies_meta_df = movies_meta_df.drop(columns = ['production_countries', 'release_date', 'revenue', 'spoken_languages', 'status', 'tagline', 'video'])

movies_meta_df = movies_meta_df.rename(columns={'title': 'Title'})

#Examining the movies_meta_df
movies_meta_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,runtime,Title,vote_average,vote_count,Year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]",81.0,Toy Story,7.7,5415.0,1995
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",104.0,Jumanji,6.9,2413.0,1995
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",101.0,Grumpier Old Men,6.5,92.0,1995
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,127.0,Waiting to Exhale,6.1,34.0,1995
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...",106.0,Father of the Bride Part II,5.7,173.0,1995

In [82]:
# Drop Movies that do not have a year entry in meta_df
movies_meta_df.dropna(subset = ["Year"], inplace=True)

In [83]:
#Droping unecessary columns from movies_streaming_df
movies_streaming_df = movies_streaming_df.drop(columns = ['Unnamed: 0', 'Type', 'Directors', 'Country', 'Language', 'Runtime'])

In [84]:
movies_meta_df.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
runtime                  float64
Title                     object
vote_average             float64
vote_count               float64
Year                      object
dtype: object

In [85]:
movies_streaming_df.dtypes

ID                   int64
Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes     object
Netflix              int64
Hulu                 int64
Prime Video          int64
Disney+              int64
Genres              object
dtype: object

In [86]:
#Converting the Year column to integer type
movies_meta_df['Year'] = movies_meta_df.Year.astype(int)

In [87]:
#Combining the 2 data sets
movies_merged_df = pd.merge(movies_streaming_df, movies_meta_df,  how='left', left_on=['Title','Year'], right_on = ['Title','Year'])

In [88]:
movies_merged_df.to_csv("movies_merged_df.csv")

In [89]:
#Creating dataframes for import to postgres
imdb_df = movies_merged_df.drop(columns = ['adult','Age','belongs_to_collection','budget','genres','homepage','original_language','original_title','overview','popularity','poster_path','production_companies','runtime','Title','vote_average','vote_count','Year','IMDb','Netflix','Hulu','Prime Video','Disney+','Genres','Rotten Tomatoes'])
rotten_tomatoes_df = movies_merged_df.drop(columns = ['Title','Year','Age','IMDb','Netflix','Hulu','Prime Video','Disney+','Genres','adult','belongs_to_collection','budget','homepage','original_language','imdb_id','overview','genres','popularity','poster_path','production_companies','runtime','Title','vote_average','vote_count','Netflix','Hulu','Prime Video','Disney+','Genres','original_title'])
moviesMeta_df = movies_merged_df.drop(columns = ['adult','belongs_to_collection','budget','homepage','original_language','imdb_id','overview','genres','popularity','poster_path','production_companies','runtime','Title','vote_average','vote_count','Netflix','Hulu','Prime Video','Disney+','Age','IMDb','Rotten Tomatoes'])
movies_table_df = movies_merged_df.drop(columns = ['adult','belongs_to_collection','budget','genres','Genres','homepage','original_language','imdb_id','overview','popularity','poster_path','production_companies','runtime','Title','vote_average','vote_count','Netflix','Hulu','Prime Video','Disney+','Age','IMDb','Rotten Tomatoes'])
stream_movie_df = movies_merged_df.drop(columns = ['Title','Year','Age','IMDb','Disney+','Genres','Rotten Tomatoes','adult','belongs_to_collection','budget','genres','homepage','original_language','original_title','overview','popularity','poster_path','production_companies','runtime','vote_average','vote_count','imdb_id','Year'])

In [90]:
#Code to connect to  postgres database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/school")
conn = engine.connect()
print(engine.table_names())

[]

In [91]:
#Code to create a table for the movies_merged_df from the cleaned dataframe above and send to the postgres database
merged_table_name = 'movies_merged_df'
movies_merged_df.to_sql(merged_table_name, conn)

In [92]:
#Code to create a table for the movies_streaming_df from the cleaned dataframe above and send to the postgres database
streaming_table_name = 'movies_streaming_df'
movies_streaming_df.to_sql(streaming_table_name, conn)

In [93]:
#Code to create a table for the imdb_df from the cleaned dataframe above and send to the postgres database
imdb_table = 'imdb_df'
imdb_df.to_sql(imdb_table, conn)

In [94]:
#Code to create a table for the rotten_tomatoes_df from the cleaned dataframe above and send to the postgres database
rotten_tomatoes_table = 'rotten_tomatoes_df'
rotten_tomatoes_df.to_sql(rotten_tomatoes_table, conn)

In [95]:
#Code to create a table for the moviesMeta_df from the cleaned dataframe above and send to the postgres database
moviesMeta_table = 'movie_meta_df_v2'
moviesMeta_df.to_sql(moviesMeta_table, conn)

In [96]:
#Code to create a table for the movies_table_df from the cleaned dataframe above and send to the postgres database
movies_table_table = 'movies_table_df'
movies_table_df.to_sql(movies_table_table, conn)

In [97]:
#Code to create a table for the stream_movie_df from the cleaned dataframe above and send to the postgres database
stream_movie_table = 'stream_movie_df'
stream_movie_df.to_sql(stream_movie_table, conn)

In [98]:
#Run this cell when you are ready to close connection
##conn.close()